*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgcolor);

}

:root {
    --bgcolor: rgb(27, 26, 26);
    --header_footer:rgb(14, 13, 13);
    --textdarkbgcolor:rgb(248, 248, 248);
    --red_highlights:rgb(243, 94, 94);
    --red_complement:rgb(255,43,43);
    --defaultBg: rgb(57, 52, 52);
}


.topnav{
    background: var(--header_footer);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.nav-title{
    color: var(--textdarkbgcolor);
    font-size: 2rem;
    width: auto;
    padding: .5rem;
    margin-left: 1.5rem;
    font-weight: 600;
}


.nav-title a{
    color: var(--textdarkbgcolor);
}
.nav-title span{
    color: var(--red_highlights);
}

.nav-links{
    margin-right: 2rem;
}

.nav-links ul{
    display: flex;
}

.nav-links li a{
    color: var(--textdarkbgcolor);
    padding: 1rem;
    display: block;
}

.nav-links li:hover{
    background-color: var(--red_highlights);
    transition: .6s;
}

.togglebtn{
    position: absolute;
    top: .85rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    display: none;
}

.togglebtn .bar{
    height: 3px;
    width: 100%;
    background-color: var(--textdarkbgcolor);
    border-radius: 10px;
}

.banner{

    background-image: url("sources/banner.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover; 
    display: flex;
    width: 100%;
    height: 100vh
}

.banner-content{

    align-items: center;
    margin: 6rem;
    display: flex;

}

.banner-content h1{
    color: var(--textdarkbgcolor);
    font-size: 7rem;
    padding: 1rem;
    
}

.about{
    display: flex;
    width: 100%;
    padding: 100px 0;
    background-color: var(--bgcolor);
    height: 100vh

}   

.profile{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile img{
    width: 25rem;
    border-radius: 5px;
}

.about-text{
    width: 35rem;
} 
.about-text h2{
    font-size: 4rem;
    color: var(--textdarkbgcolor);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-text h1{
    font-size: 22px;
    letter-spacing: 2px;
    color: var(--textdarkbgcolor);
    margin-bottom: 25px;
}

.about-text span{
    color: var(--red_complement);
}

.click{
    background-color: var(--red_complement);
    color: var(--textdarkbgcolor);
    font-weight: 600;
    text-decoration: none;
    border: 3px solid transparent;
    padding: 10px 25px;
    border-radius: 18px;
    transition: .6s;
}

/* .click a{
    color: var(--textdarkbgcolor);
    font-weight: 600; */


.click:hover{
    background-color: var(--textdarkbgcolor);
    color: var(--bgcolor);
    border: 3px solid var(--textdarkbgcolor);
    cursor: pointer;
}


.about-text p{
    color: var(--red_highlights);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 45px;
}

.education{
    width: 100%;
    padding: 100px 0;
    background-color: var(--defaultBg);
    color: var(--textdarkbgcolor);
    display: flex;
    justify-content: center;
}   
.education h1{
    font-size: 4.2rem;
    text-align: center;

}
.education button{
    background-color: var(--red_complement);
    color: var(--textdarkbgcolor);
    font-weight: 600;
    text-decoration: none;
    border: 3px solid transparent;
    padding: 10px 25px;
    border-radius: 18px;
    transition: .6s;
}


.education button:hover{
    background-color: var(--textdarkbgcolor);
    color: black;
    /* border: 3px solid var(--red_complement); */
    cursor: pointer;
}
.school{
    width: 429px;
    padding: 2rem;
    margin: 2rem;
    background-color: var(--bgcolor);
    align-items: center;
    border-radius: 12px;
    text-align: center;
    
}
/* .school:hover{
    z-index: 10;
} */

.schoolLogo{
    width: 233px;
    padding: 2%;
}
.school h3{
    text-transform: uppercase;
}
#skills{
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center  ;
}

#skills h1{
    font-size: 76px;
    padding: 4rem;
    color: var(--textdarkbgcolor);
}
.skills{
    width: 100%;
    padding: 75px 0;
    margin-top: 50px;
    background-color: var(--bgcolor);
    color: var(--textdarkbgcolor);
    display: flex;
    justify-content: center ;
}   

.skills h1{
    font-size: 5rem;
}
.skill1{
    display: block;
}
.skill-container h3{
    padding: 1rem;
    font-size: 25px;
}

.skill-container{
    background-color: var(--defaultBg);
    width: 420px;
    padding: 25px;
    margin: 2rem;
    text-align: center;
    border-radius: 10px;
}

.skill-container img{
    max-width: 100%;
    width: 245px;
}


.footer{
    text-align: center;
    width: 100%;
    background-color:var(--header_footer);
    height: 150px;
    position: absolute;

}

.div-social{
    padding: 1rem;
}

.div-social p{
    color: var(--textdarkbgcolor);
    padding: 7px;
    text-transform: capitalize;

}

.div-social img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px;
}

.experiences{
    width: 100%;
    height: 100vh;
    background-color: var(--defaultBg);
}

.experiences h1{
    color: var(--textdarkbgcolor);
    font-size: 74px;
    margin-left: 50px;
}

.column{
    text-align: center;
    padding: 2rem;
}

.Box{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-style: none;
    border: 0;
    padding: .75rem;
    border-radius: 9px;
    font-size: 25px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    margin: 2rem;
    /* opacity: 0; */
    
}

.Box a{
    text-decoration: none;
    color: var(--bgcolor);
}
.Box:hover{
    cursor: pointer;  
    background-color: var(--red_complement); 
    transition: .6s;
    color: var(--textdarkbgcolor);
}

.experiences h2{
    color: var(--textdarkbgcolor);
}

.experiences p{
    color: var(--textdarkbgcolor);
    padding: .5rem;
}


@media screen and (max-width: 650px) {
    .togglebtn{
        display: flex;
    }
    .topnav{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-links li{
        text-align: right ;
    }

    .nav-links li a{
        padding: .75rem 1rem;
    }

    .nav-links.active{
        display: flex;
    }
    .banner{
        height: 80vh;
        width: 100%;
    }
    .banner-content{
        width: 100%;

    }
    .banner-content h1{
        font-size: 5rem;

    }
    .about-text{
        display: none;
    }
}